.navbar {
  padding: 0;
  margin-left: calc(7%);
  margin-right: calc(7%);
  img {
    width: 15rem;
  }
  .navbar-nav {
    font-weight: bold;
    .nav-item {
      margin-right: 10px;
      text-decoration: none;
      .nav-link {
        color: $color-header-primary;
        font-size: 1rem;
        text-align: center;
      }
      button {
        background-color: $color-button-primary;
        border-radius: 20%;
        font-weight: bold;
        border: none;
      }
      .green {
        background-color: $color-button-secondary;
      }
    }
  }
}